extends layout

block content
  div(class="container-fluid")
  

    p Created by xm (dfghj44444).
    h1(class="header")
      | FreeCodeCamp API Basejump: URL Shortener Microservice
    blockquote
      p User stories:
      ul
        li I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</ul>
        li When I visit that shortened URL, it will redirect me to my original link.</ul>
    h3 Example creation usage:
    code.
        https://shorturlxm.herokuapp.com/new/https://www.google.com
    br
    code.
        https://shorturlxm.herokuapp.com/new/http://freecodecamp.com/news
    h3 Example creation output
    code.
      {
        "original_url":"https://www.google.com/",
        "short_url":"https://shorturlxm.herokuapp.com/3212"
      }
    h3 Usage:
    code https://shorturlxm.herokuapp.com/3212
    h3 Will redirect to:
    code.
        https://www.google.com/